<br><br><div class="container">
  <div class="section-title">
    <h2>News</h2>
    <p>Image Gallery</p>
  </div>  
<!-- Gallery -->
<div class="row">
    <div class="col-lg-4  ">
      <% for(var i=0; i < newsData.length; i++) { %>
      <img
        src="<%=newsData[i].urlToImage%>"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
      <% } %>
      <!-- <img
        src="https://mdbootstrap.com/img/Photos/Vertical/mountain1.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      /> -->
    </div>
  
    <!-- <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="https://mdbootstrap.com/img/Photos/Vertical/mountain2.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
  
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
    </div> -->
  
    <!-- <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
  
      <img
        src="https://mdbootstrap.com/img/Photos/Vertical/mountain3.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
    </div> -->
  </div>
  </div>
<br>
  <!-- Gallery -->