<br><br><div class="container">
  <div class="section-title">
    <h2>News</h2>
    <p>Image Gallery</p>
  </div>  
<!-- Gallery -->
<div class="row">
    <div class="col-lg-4  ">
      <% for(var i=0; i < newsData.length; i++) { %>
      <img
        src="<%=newsData[i].urlToImage%>"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      />
      <% } %>

    </div>
  </div>
  </div>
<br>
  <!-- Gallery -->