<!DOCTYPE html>
<html>
  <head>
    <%- include ('./head') %>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Hurray!!!! you have access <%=user.name %> !!!</h1>
    </div>
  </body>
  <%- include ('./footer') %>
</html>