<!DOCTYPE html>
<html>
  <head>
    <%- include ('./head1') %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 50%; margin-left: auto; margin-right: auto;">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/admin/verified">News Form<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/admin/getNews">News List</a>
            <a class="nav-item nav-link" href="/admin/logout">Logout</a>
          </div>
        </div>
      </nav>
    <!-- login success -->
    <div class="alert alert-success" role="alert">
      <span>User Name: <%= user.name %>,</span>
      <span>Email: <%= user.email %></span>
    </div>
    <!-- add news form -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <center>
                        <h3>Add News</h3>
                    </center>
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <form action="/admin/addNews" method="POST">
                                <div class="form-group">
                                    <label for="title" >Title</label>
                                    <input type="text" id="title" name="title" class="form-control" required />
                                </div>
                                <div class="form-group">
                                    <label for="description" >Description</label>
                                    <input type="text" id="description" name="description" class="form-control" required />
                                </div>
                                <div class="form-group">
                                    <label for="url">Url</label>
                                    <input type="text" id="url" name="url" class="form-control" required />
                                </div>
                                <div class="form-group">
                                    <label for="urlToImage" >Url To Image</label>
                                    <input type="text" id="urlToImage" name="urlToImage" class="form-control" required />
                                </div>
                                <div class="form-group">
                                    <label for="publishedAt" >Published At</label>
                                    <input type="date" id="publishedAt" name="publishedAt" class="form-control" required />
                                </div>
                                <center>
                                    <button type="submit" class="btn btn-dark">Add</button>
                                    <button type="reset" class="btn btn-info">Reset</button>
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </body>
  <%- include ('./footer1') %>
</html>