<!DOCTYPE html>
<html>
  <head>
    <%- include ('./head1') %>
  </head>
<body><br> 
  <br> <br> 
  <div class="container">
    <!--  success message --> <br> 
    <br><div class="alert alert-success" role="alert">
      <span>Hello <%= user.name %>,</span>
      <span>Email: <%= user.email %></span>
    </div>
    <div class="card " style="transition: 0.3s; width: 100%;padding: 5px 36px;">
    <div class="row">
      <div class="col-md-12">
          <div class="panel">
              <div class="panel-body">
                  <center>
                      <br><h3>Add News</h3>
                  </center>
                  <div class="panel panel-info">
                      <div class="panel-body">

                <form action="/admin/addNews" method="POST">
                    <div class="form-group">
                        <label for="title" >Title</label>
                        <input type="text" id="title" name="title" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="description" >Description</label>
                        <input type="text" id="description" name="description" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="url">Url</label>
                        <input type="text" id="url" name="url" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="urlToImage" >Url To Image</label>
                        <input type="text" id="urlToImage" name="urlToImage" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="publishedAt" >Published At</label>
                        <input type="date" id="publishedAt" data-format="dd/MM/yyyy hh:mm:ss" name="publishedAt" class="form-control" required />
                        
                    </div>
                    <div class="form-group">
                      <label for="category">Category</label>
                      <select multiple class="form-control" name="category" id="category" required>
                        <option>Sports</option>
                        <option>Politics</option>
                        <option>Business</option>
                        <option>Technology</option>

                      </select>
                    </div>
                    <center>
                        <button type="submit" class="btn btn-dark">Add</button>
                        <button type="reset" class="btn btn-info">Reset</button>
                    </center>
                </form>
                     
            </div>
          </div>
      </div>
  </div>
</div>
</div>
</div>
</div> <br> <br> <br>
  </body>
  <%- include ('./footer1') %>
</html>

<!-- <style>
  body {
font-family: "Karla", sans-serif;
background-color: #d0d0ce;
min-height: 100vh; }

.brand-wrapper {
margin-bottom: 19px; }
.brand-wrapper .logo {
  height: 37px; }

.login-card {
border: 0;
border-radius: 27.5px;
box-shadow: 0 10px 30px 0 rgba(226, 223, 223, 0.679);
overflow: hidden; }
.login-card-img {
  border-radius: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }
.login-card .card-body {
  padding: 85px 60px 60px; }
  @media (max-width: 422px) {
    .login-card .card-body {
      padding: 35px 24px; } }
.login-card-description {
  font-size: 25px;
  color: #000;
  font-weight: normal;
  margin-bottom: 23px; }
.login-card form {
  max-width: 326px; }
.login-card .form-control {
  border: 1px solid #d5dae2;
  padding: 15px 25px;
  margin-bottom: 20px;
  min-height: 45px;
  font-size: 13px;
  line-height: 15;
  font-weight: normal; }
  .login-card .form-control::-webkit-input-placeholder {
    color: #919aa3; }
  .login-card .form-control::-moz-placeholder {
    color: #919aa3; }
  .login-card .form-control:-ms-input-placeholder {
    color: #919aa3; }
  .login-card .form-control::-ms-input-placeholder {
    color: #919aa3; }
  .login-card .form-control::placeholder {
    color: #919aa3; }
.login-card .login-btn {
  padding: 13px 20px 12px;
  background-color: #000;
  border-radius: 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  margin-bottom: 24px; }
  .login-card .login-btn:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #000; }
.login-card .forgot-password-link {
  font-size: 14px;
  color: #919aa3;
  margin-bottom: 12px; }
.login-card-footer-text {
  font-size: 16px;
  color: #0d2366;
  margin-bottom: 60px; }
  @media (max-width: 767px) {
    .login-card-footer-text {
      margin-bottom: 24px; } }
.login-card-footer-nav a {
  font-size: 14px;
  color: #919aa3; }
</style> -->