<html>
    <head></head>
    <body>
        <h1>Weather Test</h1>
        <input id="weather" type="text" placeholder="weather" readonly value="<%= weather %>">
        <input id="icon" type="image" placeholder="icon" readonly src="http://openweathermap.org/img/wn/<%= icon %>@2x.png">
        <input id="temp" type="text" placeholder="temp" readonly value="<%= temp %> ℉">
        <input id="city" type="text" placeholder="city" readonly value="City: <%= city %>">
       
    </body>
  
    </html>