<!DOCTYPE html>
<html>
  <head>
    <%- include ('./partials/head1') %>
  </head>
  <body>
    <div class="jumbotron">
      <%- include ('./partials/login') %>
    </div>
  </body>
  <%- include ('./partials/footer1') %>
</html>